name: Build GHC 9.8.4 for Android
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          load: true
          tags: ghc-android
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Run build
        run: |
          docker run --rm \
            -v $PWD:/workspace \
            -w /workspace \
            ghc-android \
            bash /workspace/build-ghc984-aarch64-linux-android.sh

      - name: Upload bindist
        uses: actions/upload-artifact@v4
        with:
          name: ghc-9.8.4-android-aarch64
          path: ghc-9.8.4-android-aarch64.tar.xz
          if-no-files-found: error
          retention-days: 1
